@import "tailwindcss";

@theme {
  --color-optimalimegreen: #bbc04b;
  --color-optimalightgreen: #e8eac2;
  --color-optimadarkorange: #f77e10;
  --color-optimaorange: #f8973f;
  --color-optimalightorange: #fccb9f;
}